/*This is a comment purpose: 
HW 2 CNIT 133 
student: CNIT 133 Irina Golovko
date: 09/05/2018 
hw2.css file to apply css style
for hw2_1.html
*/

body 
{
	background-color: #b3ffff; 
	text-align: center;
	font-family: arial; 
}

header
{
	text-align: center;
}

/* for navigation bar */
li.nav
{
	list-style-type: none; 
	display: inline;
	margin: 2px; 
	padding: 10px; 
	background-color:#d3d3d3;
	font-size: 18px; 
}

.left {
	float: left;
}

a 
{ 
	text-decoration: none;
	color: #0000ff;
}

a:hover 
{
	color: #000000; 
	text-decoration: underline;
}

/* container for the page */
.main 
{
	
	background-color: white;
	border-style: dotted;
	margin-bottom: 35px;
	margin-top: 35px;
	margin-left: 100px;
	margin-right: 100px;
	padding: 25px;	
}

/* style of heading */ 
.pink {
	color: #c01135;
	clear: left;
}

/* style of paragraf */
.paragraf {
	text-align: left;
	margin-left: 50px;
}

/* style of button*/
.but {
	float: right;
}

/* text for tasks*/
.par {
	text-align: justify;
	font-size: 14px;
}

/* text for answers*/
.answer {
	font-size: 20px;
}

/* text for textarea*/
textarea {
	font-size: 16px;
}
/* for word "Result" */
.result
{
	color: red; 
	font-weight: bold;
}

table.center {
    margin-left:auto; 
    margin-right:auto;
}

input {
	text-align: right;
	font-size: 14px;
}

.right {
	text-align: right;
}

/* for dotted cells */
th.dot, td.dot {
	border: 1px dotted;
}

#imgB
{
	width: 500px;
	height: 100px;
}

#imgP
{
	width: 170px;
	height: 100px;
}

/* style of footer */
.f 
{
	font-style: italic; 
	color: #808080;
	text-align:center;
}